@{
    Layout = "";
}
























<form data-bind="submit: createUser">
    First name:<br>
    <input type="text" name="firstname" data-bind="value: manageUser.firstName"><br>

    Last name:<br>
    <input type="text" name="lastname" data-bind="value: manageUser.lastName"><br>

    E-Mail:<br>
    <input type="text" name="email" data-bind="value: manageUser.email"><br>

    Password:<br>
    <input type="text" name="password" data-bind="value: manageUser.password"><br>

    Confirm password:<br>
    <input type="text" name="confirmpassword" data-bind="value: manageUser.confirmPassword"><br>

    Hire date:<br>
    <input type="text" name="hiredate" data-bind="value: manageUser.hireDate"><br>

    Maximum count of available days:<br>
    <input type="number" name="maxavailabledays" data-bind="value: manageUser.maxDays"><br>

    Team:<br>
    <input list="browsers"  name="browsers">
    <datalist id="browsers" data-bind="foreach: teams">
        <option data-bind="value: name"></option>

    <!--

        -->   
       
    </datalist> <br>
    <br>
    Using "options" bindings:<br>
    <select data-bind="options: teams, optionsText: 'name' "></select><br>
    <button type="submit" class="btn btn-info btn-lg" >Create</button>
</form>



<hr />
