@{
    Layout = "";
}
<h1>Uusers!</h1>
<!--
<h1>This is not the Dashboard!</h1>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Users", "Users", "Dashboard")</li>
        <li>@Html.ActionLink("My Calendar", "Index", "Home")</li>
        <li>@Html.ActionLink("Group Management", "Index", "Home")</li>
        <li>@Html.ActionLink("Settings", "Index", "Home")</li>
    </ul>
</div>
    -->

